@import "normalize";
@import "constants";

$navHeight: 64px;
body {
  background: #f2f2f2;
}

.header {
  width: 100%;
  height: 64px;
  background: #3a3a3a;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;

  .container {
    width: $pageWidth;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    .logo-box {
      width: 140px;
      height: 54px;
      background: url("https://www.xfz.cn/static/build/images/logo.png") no-repeat;
      margin-top: 8px;
      float: left;

      a {
        display: block;
        width: 100%;
        height: 100px;
      }
    }

    .nav {
      margin-left: 128px;
      float: left;

      li {
        float: left;
        margin-right: 40px;
        line-height: $navHeight;
        height: $navHeight;
        box-sizing: border-box;

        a {
          color: #fff;
        }

        &.active {
          border-bottom: 5px solid #5c87d9;
        }
      }
    }

    .auth-box {
      float: right;
      line-height: $navHeight;
      height: $navHeight;
      color: #fff;

      .iconfont {
        color: #fff;
        font-size: 14px;

      }

      a {
        color: #fff;
      }

    }
  }
}

.main {
  margin-top: $navHeight+20px;
  width: 100%;

  .wrapper {
    width: $pageWidth;
    margin: 0 auto;
    overflow: hidden;

    .news-wrapper {
      $bannerWidth: $mainBoxWidth;
      $bannerHeight: 202px;
      float: left;
      width: $mainBoxWidth;


      .banner-group {
        width: 100%;
        height: $bannerHeight;
        background: #0e275e;
        position: relative;
        overflow: hidden;

        .banner-ul {
          overflow: hidden;
          //width: $bannerWidth*4;
          position: absolute;
          left: 0;
          z-index: 0;

          li {
            float: left;
            width: $bannerWidth;
            height: $bannerHeight;

            img {
              width: $bannerWidth;
              height: $bannerHeight;
            }
          }
        }

        .arrow {
          font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: 70px;
          color: #fff;
          position: absolute;
          top: 50%;
          margin-top: -45px;
          cursor: pointer;
          display: none;

        }

        .left-arrow {
          left: 20px;
        }

        .right-arrow {
          right: 20px;
        }

        .page-control-group {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 20px;

          .page-control {
            margin: 0 auto;
            overflow: hidden;
            width: 12*4px+64px;

            li {
              width: 12px;
              height: 12px;
              border: 1px solid #fff;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              float: left;
              margin: 0 8px;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              cursor: pointer;

              &.active {
                background: #fff;
              }
            }
          }
        }
      }
    }


  }
}

.main {
  .wrapper {
    .news-wrapper {
      .list-outer-group {
        background: #fff;
        margin-top: 14px;

        .list-tab {
          width: 100%;
          height: 66px;
          overflow: hidden;
          border: 1px solid $lineColor;
          border-left: none;
          border-right: none;

          li {
            float: left;
            padding: 0 8px;
            margin-top: 20px;

            a {
              color: $assistFontColor;
            }

            &:first-of-type {
              border-left: 5px solid $themeColor;
            }

            &.active {
              a {
                color: $mainFontColor;
              }
            }
          }
        }

        .list-inner-group {
          li {
            padding: 20px;
            border-bottom: 1px solid $lineColor;
            overflow: hidden;

            .thumbnail-group {
              float: left;
              height: 162px;
              width: 226px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .news-group {
              float: right;
              width: 504px;
              height: 162px;
              position: relative;

              .title {

                font-size: 22px;

                a {
                  color: $mainFontColor;

                  &:hover {
                    color: $themeColor;
                  }
                }
              }

              .desc {
                color: $assistFontColor;
                font-size: 14px;
                margin-top: 10px;
              }

              .more {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                font-size: 14px;
                color: $assistFontColor;

                .category {
                  color: $themeColor
                }

                .pub-time {
                  float: right;
                  margin-left: 20px;
                }

                .author {
                  float: right;
                }
              }
            }
          }
        }

        .load-more-group {
          padding: 20px 0;
          text-align: center;

          .load-more {
            width: 402px;
            height: 40px;
            background: #d2dcea;
            color: #6d85dc;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.main {
  .wrapper {
    .sidebar-wrapper {
      float: right;
      width: 356px;
      background: #fff;

      .title-group {
        overflow: hidden;
        padding: 20px;

        .title {
          float: left;
          font-size: 18px;
          color: $mainFontColor;
        }

        .more {
          float: right;
          font-size: 14px;
          color: $themeColor;
        }
      }

      .advertise-group {
        img {
          width: 100%;
        }
      }

      .focus-group {
        padding: 0 20px;
        overflow: hidden;

        .left-group {
          width: 190px;
          float: left;

          li {
            width: 100%;
            height: 50px;
            line-height: 50px;
            background: url("https://www.xfz.cn/static/build/images/side-icon.png") no-repeat;
            -webkit-background-size: 26%;
            background-size: 26%;
            margin-bottom: 20px;
            overflow: hidden;

            a {
              float: left;
              margin-left: 64px;
              color: $assistFontColor;
              font-size: 14px;
            }
          }

          .zhihu {
            background-position: 0 0;
          }

          .weibo {
            background-position: 0 -63px;
          }

          .toutiao {
            background-position: 0 -122px;
          }
        }

        .right-group {
          float: right;
          width: 100px;
          background: url("https://www.xfz.cn/static/build/images/xfz-wechat-share.png") no-repeat;
          -webkit-background-size: 100%;
          background-size: 100%;

          .desc {
            text-align: center;
            margin-top: 120px;
            color: $assistFontColor;
            font-size: 12px;
          }
        }
      }

      .hot-list-group {
        li {
          padding: 20px 20px 20px;
          overflow: hidden;
          border-bottom: 1px solid $lineColor;

          .left-group {
            float: left;
            width: 204px;
            height: 72px;
            position: relative;

            .title {
              a {
                font-size: 14px;
                color: $mainFontColor;

                &:hover {
                  color: $themeColor;
                }
              }
            }

            .more {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              font-size: 12px;

              .category {
                color: $themeColor;
                float: left;
              }

              .pub-time {
                float: right;
                color: $assistFontColor;
              }
            }
          }

          .right-group {
            width: 102px;
            float: right;
            height: 72px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.footer {
  font-size: 14px;
  color: #c9c9c9;
  padding-top: 20px;

  .top-group {
    background: #555e67;
    height: 100px;
    padding-top: 25px;
    box-sizing: border-box;

    .top-inner-group {
      position: relative;
      width: $pageWidth;
      margin: 0 auto;
      //overflow: hidden;

      .logo-box {
        background: url("https://www.xfz.cn/static/build/images/logo-test.png") no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        width: 168px;
        height: 54px;
        float: left;
      }

      .detail-group {
        float: left;
        margin-left: 84px;

        .line1 {
          overflow: hidden;

          .links {
            float: left;
            overflow: hidden;

            li {
              float: left;
              padding: 0 10px;
              border-right: 1px solid #c9c9c9;

              &:last-of-type {
                border-right: none;
              }

              &:first-of-type {
                padding-left: 0;
              }

              a {
                color: #c9c9c9;
              }
            }
          }

          .about-us {
            float: left;
            margin-left: 40px;

            .title {
              float: left;
            }

            .social-group {
              float: left;
              overflow: hidden;

              li {
                float: left;

                .text {
                  margin-left: 24px;
                  color: #fff;
                }
              }

              .wechat {
                background: url("https://www.xfz.cn/static/build/images/wx-icon.png") no-repeat;
                -webkit-background-size: 28%;
                background-size: 28%;
                cursor: pointer;

                &:hover .wx-qrcode{
                  display: block;
                }


                .wx-qrcode {
                  width: 204px;
                  height: 204px;
                  background: url("https://www.xfz.cn/static/build/images/xfz-wechat-share.png") no-repeat;
                  -webkit-background-size: 100%;
                  background-size: 100%;
                  position: absolute;
                  right: 360px;
                  top: -210px;
                  display: none;
                }

              }


              .weibo {
                margin-left: 20px;
                background: url("https://www.xfz.cn/static/build/images/wx-icon.png") no-repeat;
                -webkit-background-size: 28%;
                background-size: 16%;
              }
            }
          }


        }

        .line2 {
          margin-top: 15px;
          padding: 5px 0;
          overflow: hidden;

          .address {
            float: left;

          }

          .contact {
            float: left;
            margin-left: 40px;
          }
        }
      }
    }
  }

  .bottom-group {
    background: #383e44;
    height: 60px;
    text-align: center;
    line-height: 60px;
  }
}