<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了课堂</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_673388_aobh37swmu6.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="">创业资讯</a></li>
            <li><a href="">创业课堂</a></li>
            <li><a href="">付费资讯</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="">登录</a> / <a href="">注册</a>
        </div>
    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <div class="banner-group">
                <ul class="banner-ul" id="banner-ul">
                    <li><a href=""><img src="https://static-image.xfz.cn/1557386585_719.png" alt=""></a></li>
                    <li><a href=""><img src="https://static-image.xfz.cn/xfz-banner-gift.jpg" alt=""></a></li>
                    <li><a href=""><img src="https://www.xfz.cn/static/build/images/web-shopxfz-banner.jpg" alt=""></a>
                    </li>
                </ul>
                <span class="arrow left-arrow">‹</span>
                <span class="arrow right-arrow">›</span>
            </div>
        </div>
        <div class="sidebar-wrapper">

        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="../../dist/js/index.min.js"></script>
</body>
</html>