<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了课堂</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_673388_aobh37swmu6.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="">创业资讯</a></li>
            <li><a href="">创业课堂</a></li>
            <li><a href="">付费资讯</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="">登录</a> / <a href="">注册</a>
        </div>
    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <div class="banner-group">
                <ul class="banner-ul" id="banner-ul">
                    <li><a href=""><img src="https://static-image.xfz.cn/1557386585_719.png" alt=""></a></li>
                    <li><a href=""><img src="https://static-image.xfz.cn/1554346383_438.png-seriescourse.banner" alt=""></a></li>
                    <li><a href=""><img src="https://www.xfz.cn/static/build/images/web-shopxfz-banner.jpg" alt=""></a>
                    </li>
                    <li><a href=""><img src="https://static-image.xfz.cn/1513753715_774.jpg-seriescourse.banner" alt=""></a></li>
                    <li><a href=""><img src="https://static-image.xfz.cn/1554346513_573.jpg-seriescourse.banner" alt=""></a></li>
                </ul>
                <span class="arrow left-arrow">‹</span>
                <span class="arrow right-arrow">›</span>
                <div class="page-control-group">
                    <ul class="page-control">

                    </ul>
                </div>
            </div>
            <div class="list-outer-group">
                <ul class="list-tab">
                    <li class="active"><a href="">最新资讯</a></li>
                    <li><a href="">热点</a></li>
                    <li><a href="">深度报道</a></li>
                    <li><a href="">干货分享</a></li>
                    <li><a href="">投资人说</a></li>
                </ul>
                <ul class="list-inner-group">
                    <li>
                        <div class="thumbnail-group">
                            <a href=""><img src="https://static-image.xfz.cn/1557368778_560.jpg-website.news.list" alt=""></a>
                        </div>
                        <div class="news-group">
                            <p class="title">
                                <a href="">EcoFlow获数千万元人民币A+轮融资，由广州亿合投资、微禾投资等联合投资</a>
                            </p>
                            <p class="desc">
                                此前EcoFlow曾获德联资本和春珈资产的3000万元A轮融资，累计获得将近1亿元融资。
                            </p>
                            <p class="more">
                                <span class="category">德联资本 SaaS服务 | 小鹅通 | 内容付费技术</span>
                                <span class="pub-time">1小时前</span>
                                <span class="author">史素云</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail-group">
                            <a href=""><img src="https://static-image.xfz.cn/1557311571_511.png-website.news.list" alt=""></a>
                        </div>
                        <div class="news-group">
                            <p class="title">
                                <a href="">小鹅通公布最新数据：46万商家入驻 总业绩突破32亿元</a>
                            </p>
                            <p class="desc">
                                人才培养+资源链接，构建内容付费服务生态体系。
                            </p>
                            <p class="more">
                                <span class="category">SaaS服务 | 小鹅通 | 内容付费技术</span>
                                <span class="pub-time">1小时前</span>
                                <span class="author">史素云</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="sidebar-wrapper">

        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="../../dist/js/index.min.js"></script>
</body>
</html>