<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻详情</title>
    <link rel="stylesheet" href="../../dist/css/news/news_detail.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_673388_aobh37swmu6.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="">创业资讯</a></li>
            <li><a href="">创业课堂</a></li>
            <li><a href="">付费资讯</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="">登录</a> / <a href="">注册</a>
        </div>
    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="news-wrapper">
                <h1 class="title">EcoFlow获数千万元人民币A+轮融资，由广州亿合投资、微禾投资等联合投资</h1>
                <div class="news-info">
                    <div class="info-group">
                        <span class="author">饭桌君</span>
                        <span class="pub-time"> 05月09日</span>
                        <span class="category"> 融资消息
</span>
                    </div>
                    <div class="share-group">
                        <span>分享至：</span>
                        <a class="weixin share-item"></a>
                        <a href="" class="weibo share-item"></a>
                    </div>
                </div>
                <article class="article">
                    <p style="white-space: normal;"><span style="font-size: 16px;"><span
                            style="text-align: justify;"></span><span
                            style="color: rgb(85, 85, 85); font-family: &quot;Microsoft YaHei&quot;, Helvetica, Arial, sans-serif; text-align: justify; background-color: rgb(255, 255, 255);">各位桌友早上好，一文读懂昨夜今晨科技圈大小事，元气满满的一天从这份新闻早餐开始！</span></span>
                    </p>
                    <h2 style="white-space: normal; text-align: center;"><span style="font-size: 16px;"><span
                            style="font-size: 16px; text-align: justify;"></span>热事件</span></h2>
                    <h3 style="white-space: normal;"><span style="text-align: justify; font-size: 16px;">币安遭黑客攻击被盗7000比特币 价值4100万美元<br></span>
                    </h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月8日消息，世界最大加密货币交易所币安（Binance）发生黑客攻击事件，丢失7000枚比特币，价值约4100万美元。此消息一经传出，比特币价格从北京时间7点35分的5938美元/枚开始大跌，截止北京时间8点15分，比特币价格跌落至5783美元/枚，不足一小时跌幅3%，市值蒸发27亿美元。</span>
                    </p>
                    <p style="white-space: normal; text-align: center;"><span style="font-size: 16px;">&nbsp;</span><img
                            src="https://static-image.xfz.cn/1557361281_473.jpg" title="" alt="1000.webp (4).jpg"></p>
                    <h3 style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">暴风集团遭光大证券旗下公司起诉 索赔本息超7.5亿元</span>
                    </h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月8日消息，暴风集团公告，光大浸辉、上海浸鑫对公司及冯鑫提起“股权转让纠纷”诉讼，请求法院判令公司向光大浸辉、上海浸鑫支付因不履行回购义务而导致的部分损失6.88亿元及该等损失的迟延支付利息（暂计至今年3月3日为6330.66万元）。</span>
                    </p>
                    <h3 style="white-space: normal; text-align: justify;"><span style="font-size: 16px;"></span></h3>
                    <h3 style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">跟谁学拟赴美上市，49％教师无资格证，财报存重大缺陷</span>
                    </h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月8日晚，由原新东方执行总裁陈向东创办的跟谁学向纽交所递交招股书，拟以“GSX”的股票代码在美上市。承销商包括瑞士信贷、巴克莱、德意志银行、里昂证券。招股书显示，跟谁学的核心专长是在线K12课程(营收贡献为74.8%)。值得一提的是，跟谁学49%的教师没有教师资格证，一些课程结束时间也在晚上8：30以后，并且一次性收费均超过3个月。</span>
                    </p>
                    <p style="white-space: normal; text-align: center;"><span style="font-size: 16px;">&nbsp;</span><img
                            src="https://static-image.xfz.cn/1557361358_59.jpg" title="" alt="1000 (2).jpg"></p>
                    <h3><span style="font-size: 16px;">旷视科技完成7.5亿D轮融资，估值已达40亿美元！</span></h3>
                    <p><span style="font-size: 16px;">2019年5月8日，北京旷视科技有限公司 (以下简称 “旷视科技” ) 宣布完成D轮第二阶段股权融资。目前D轮总融资额达约7.5亿美元。参与次轮融资的机构包括中银集团投资有限公司(BOCGI)、阿布扎比投资局(ADIA) 旗下全资子公司、麦格理集团以及工银资管（全球）有限公司。此次D轮7.5亿美元融资过后，旷视科技的估值或已达到40亿美元。有消息显示，旷视科技计划在今年晚些时候准备在香港进行IPO。</span>
                    </p>
                    <h3 style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">中国移动国际发布首张覆盖全球的云网络<br></span>
                    </h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月8日，中国移动国际（CMI）在香港发布中国首张覆盖全球的云网络，为企业客户提供可视、可订、可控的云网一站式解决方案和自助式部署能力。2018年IDG云计算调查显示，90%的机构计划将部分应用或基础设施部署到云端，多云复杂环境将成为常态，其中超过一半机构希望实现对云服务商的统一管理。</span>
                    </p>
                    <p style="white-space: normal; text-align: justify;"><img
                            src="https://static-image.xfz.cn/1557361321_997.jpg" title="" alt="1000 (1).jpg"></p>
                    <p><span style="text-align: center; font-size: 16px;"></span></p>
                    <h2 style="white-space: normal; text-align: center;"><span style="font-size: 16px;">大企业</span></h2>
                    <h3 style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">阿里回应允许外国零售商销售：与天猫淘宝无关</span>
                    </h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月9日消息，有外媒报道，阿里巴巴(美股BABA)将允许外国零售商在自己平台进行销售。对此，阿里表示，此举为速卖通业务，与天猫、淘宝无关。据英国《金融时报》报道，阿里速递是一家电子商务企业，销售从中国零售商到150多个国家的商品。现在阿里正在进行变革，使其他国家的零售商也能在其全球平台上销售产品。</span>
                    </p>
                    <h3 style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">软银将斥资42亿美元增持雅虎日本股份至44.64%</span>
                    </h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月8日，据外媒报道，日本电信公司软银公布财报称，它在第四财季的运营利润同比下降了17%，低于分析师的预期，但是它的营收出现了增长。这家日本第三大电信公司表示，它预计本财年的运营利润将增长24%至8900亿日元(约合80.8209亿美元)。该预测假设雅虎日本将成为它的合并子公司。软银周三曾表示，它将把所持雅虎日本股份从12.08%增至44.64%，收购后者价值42亿美元的新股。</span>
                    </p>
                    <p style="white-space: normal; text-align: center;"><img
                            src="https://static-image.xfz.cn/1557361817_904.jpg" title="" alt="1000.webp (1).jpg"></p>
                    <h2 style="text-align: center;"><span style="font-size: 16px; text-align: center;">“大”数据<br></span>
                    </h2>
                    <h3 style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">领英：人才流速放缓，薪酬持平2017年，6.7％海归选新一线</span>
                    </h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月8日消息，职场社交平台LinkedIn（领英）与人力资本管理咨询机构怡安翰威特近日联合发布的《2019人才流动与薪酬趋势报告》显示，全国范围的薪酬增长也趋于平和，这一增速在2017 年初显放缓迹象，2018 年虽从2017年的6.3% 小幅升至6.4%，但与前五年平均8%的增速相比仍显不足。 2018 年的海归人才中，有6.7% 选择新一线城市作为下一站，移居新一线城市的国内高端人才占到人才流动总数的22%。</span>
                    </p>
                    <h3 style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">2018中国游戏上市公司透视：25家营收超10亿元</span>
                    </h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月8日消息，游戏行业已上市的公司2018年的营业数据也基本上全部出炉。其中有25家公司在游戏业务上营收过了10亿元，排名第一的是腾讯，其游戏业务营收达到了1284亿元，排名第25的是去年刚刚上市的指尖悦动，营收10.86亿元。这25家公司当中14家业绩上涨，11家业绩出现下滑，基本呈现均衡的态势。同比增幅最大的是世纪华通，同比增幅达到了563.64%。</span>
                    </p>
                    <p style="white-space: normal; text-align: center;"><span style="font-size: 16px;">&nbsp;</span><img
                            src="https://static-image.xfz.cn/1557361454_524.jpg" title="" alt="1000.webp (9).jpg"></p>
                    <h3 style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">工信部：一季度规模以上电子信息制造业增加值同比增7.8％</span>
                    </h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月8日，据工信部网站消息，2019年一季度电子信息制造业运行情况：一季度，规模以上电子信息制造业增加值同比增长7.8%，增速同比回落4.7个百分点； 出口交货值同比增长2.9%，增速同比回落6.7个百分点。其中， 3月份规模以上电子信息制造业增加值同比增长10.2%，出口交货值同比增长3.2%。</span>
                    </p>
                    <h2 style="white-space: normal; text-align: center;"><span style="font-size: 16px;">大佬说</span></h2>
                    <h3 style="white-space: normal; text-align: justify;"><span
                            style="font-size: 16px;">柳传志谈柳青：她没多大能耐</span></h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月8日，柳传志在接受访谈中谈及儿女，在说到柳青时，一同接受采访的潘石屹表示印象很谦和，柳传志笑称她本来也没多大能耐应该谦虚。柳传志说儿子特别怕别人知道是父亲是他，给他带来麻烦。他教导子女要对人谦虚、平和、能做事情。</span>
                    </p>
                    <p style="white-space: normal; text-align: center;"><img
                            src="https://static-image.xfz.cn/1557361754_424.jpeg" title=""
                            alt="6eaea5aaeea14bb0aabf0e0fc1e8852f.jpeg"></p>
                    <h3 style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">库克：隐私是本世纪最重要的问题之一，像珠宝一样必须要保护。</span>
                    </h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月8日消息，苹果CEO库克昨日在SAP蓝宝石大会上表示，隐私是本世纪最重要的问题之一，像珠宝一样必须要保护。你手机上的数据会比你家里的更多，公司里员工他们所携带的设备也都有大量的业务信息。</span>
                    </p>
                    <h3 style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">姚劲波：不在乎短期的波动，不会裁员和减薪</span>
                    </h3>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;">5月8日消息，58同城CEO姚劲波在“2019年58神奇日”峰会上表示，不在乎短期的波动，要着眼于长远的规划。他称，58同城不会裁员和减薪，而是持续扩招，此外还将在创新和服务方面持续投入，他强调，58同城不会做自营，会坚持做平台。</span>
                    </p>
                    <h2 style="white-space: normal; text-align: center;"><span style="font-size: 16px;">国内融资消息</span>
                    </h2>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;"><strong>1.贝店获8.6亿元人民币战略融资，投资方为高瓴资本、襄禾资本、红杉资本、创新工场、高榕资本、IDG资本、今日资本等。</strong>贝店是一个品牌直采社交电商平台，采用自营和品牌直供相结合的模式，与全球品牌方、源头工厂合作，为创业用户提供前期货品准备、发货和后期客服等服务，产品涉及美妆护肤、零食饮料、母婴用品、家居百货等品类。</span>
                    </p>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;"><strong>2. 租租车获数千万元美元C轮融资，投资方为启明创投。</strong>租租车是一个出境自驾游租车服务平台，专注于为全球华人出境自驾游提供租车服务，同时还提供境外租车中文客服服务、免费中文GPS及离线地图、境外车险、随身WiFi、当地玩乐产品预订、国际驾照服务等。</span>
                    </p>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;"><strong>3. 亮风台获1.2亿元人民币B+轮融资，投资方为MYEG Capital、活水资本(Ondine Capital)、君盛资本、创徒资本等境内外美元和人民币基金，老股东纪源源星资本、美图公司追加。</strong>亮风台是一家AR智能眼镜研发商，专注于智能图像识别与视觉交互技术的研发，基于大规模图像识别、移动增强现实等核心技术，研发了HiAR Glasses增强现实智能眼镜、HiAR SDK、HiAR Cloud API等产品，致力于打造与云计算、智能终端深度融合的互联网产品。</span>
                    </p>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;"><strong>4. 木鸟短租获数千万元人民币B2轮融资，由华冠资本领投，达晨创投、梅花创投跟投。</strong>木鸟短租是一家主打短租房、日租房的在线预订平台，提供民居、四合院、度假公寓、海景房等各类房屋短租服务。</span>
                    </p>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;"><strong>5. 启德医药获近亿元人民币Pre-B轮融资，本轮融资由华盖资本领投，华方资本与昌金博雅参与跟投，启德医药A轮投资人元禾原点和泰福资本继续追加投资。</strong>启德医药是一家医疗健康公司，要提供生物医药产品,生物技术产品及科研试剂的研发,医药相关产业产品及健康相关产业产品的技术开发。</span>
                    </p>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;"><strong>6. 代码乾坤获1亿元人民币A轮融资，由愉悦资本领投，真格基金、北极光创投参投</strong>。代码乾坤是一家手机游戏研发商，主要从事手机游戏的研发，致力于满足用户的游戏娱乐体验，产品为重启世界等。</span>
                    </p>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;"><strong>7. 农广传媒获6000万元人民币A轮融资，投资方为创世伙伴资本。</strong>农广传媒在村镇超市、小卖部放置智能广告屏，精准推送广告，结合移动互联网互动营销，累积农村消费主力人群，帮助广告主高效开拓农村市场。</span>
                    </p>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;"><strong>8. 得威科技获A轮融资，投资方为红榕资本，融资金额未透露。</strong>得威电商是一家电动（汽）车行业垂直服务平台，通过B2B2C和O2O平台为终端服务门店提供价格优惠，采购便捷，管理到位的一站式线上采购，专注于电动（汽）车行业的垂直服务。</span>
                    </p>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;"><strong>9. 纸条获3000万元人民币天使轮融资，由星际节点CEO何清涛领投。</strong>纸条是一个基于IPFS/Filenet开发的去中心化社交应用，该应用内所有聊天数据将以碎片化形式存储于全球任意节点，凭私钥调取，且应用内生态均以Fn为支付代币进行流通、结算。</span>
                    </p>
                    <p style="white-space: normal; text-align: justify;"><span style="font-size: 16px;"><strong>10. 诊联获200万元人民币天使轮投资，投资方为启泰资本。</strong>诊联在线是一家以互联网技术为核心的电子商务运行商，推广的是为基层诊所及医疗机构提供信息化管理工具的医疗SaaS平台软件，专注于民营基层诊所信息化云平台建设。</span>
                    </p>
                </article>
            </div>
            <div class="comment-wrapper">
                <h3 class="title">文章评论(0)</h3>
                <textarea name="comment" class="comment-textarea nologin-textarea logined-textarea"
                          placeholder="立即登录，参与评论！"></textarea>
                <div class="submit-btn-group">
                    <button class="submit-btn">
                        立即评论
                    </button>
                </div>
                <ul class="comment-list">
                    <li>
                        <div class="comment-info">
                            <img src="https://static-image.xfz.cn/1533547276_895.png" alt="" class="avatar">
                            <span class="author">王艳</span>
                            <span class="pub-time">05月08日</span>

                        </div>
                        <p class="comment-content">
                            不会扯淡，好好说事。关注金融、物流、电商、区块链
                        </p>
                    </li>
                    <li>
                        <div class="comment-info">
                            <img src="https://static-image.xfz.cn/1533547276_895.png" alt="" class="avatar">
                            <span class="author">王艳</span>
                            <span class="pub-time">05月08日</span>

                        </div>
                        <p class="comment-content">
                            不会扯淡，好好说事。关注金融、物流、电商、区块链
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-wrapper">
            <div class="title-group">
                <span class="title">在线课堂</span>
                <a href="" class="more">更多</a>
            </div>
            <div class="advertise-group">
                <a href=""><img src="https://static-image.xfz.cn/1554346383_8.png" alt=""></a>
            </div>
            <div class="platform-group">
                <div class="title-group">
                    <span class="title">关注小饭桌</span>
                </div>
                <div class="focus-group">
                    <ul class="left-group">
                        <li class="zhihu"><a href="" target="_blank">小饭桌创业课堂</a></li>
                        <li class="weibo"><a href="" target="_blank">小饭桌创业课堂</a></li>
                        <li class="toutiao"><a href="" target="_blank">小饭桌</a></li>
                    </ul>
                    <div class="right-group">
                        <p class="desc">
                            关注小饭桌
                        </p>
                    </div>
                </div>
            </div>
            <div class="hot-news-group">
                <div class="title-group">
                    <span class="title">热门推荐</span>
                </div>
                <ul class="hot-list-group">
                    <li>
                        <div class="left-group">
                            <p class="title">
                                <a href="">早报：云集上市首日大涨28.64%；黄章的魅族第一...</a>
                            </p>
                            <p class="more">
                                <span class="category">热点</span>
                                <span class="pub-time">05月05日 </span>
                            </p>
                        </div>
                        <div class="right-group">
                            <a href=""><img src="https://static-image.xfz.cn/1557187179_136.jpeg-website.news.list"
                                            alt=""></a>
                        </div>
                    </li>
                    <li>
                        <div class="left-group">
                            <p class="title">
                                <a href="">早报：云集上市首日大涨28.64%；黄章的魅族第一...</a>
                            </p>
                            <p class="more">
                                <span class="category">热点</span>
                                <span class="pub-time">05月05日 </span>
                            </p>
                        </div>
                        <div class="right-group">
                            <a href=""><img src="https://static-image.xfz.cn/1557187179_136.jpeg-website.news.list"
                                            alt=""></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="">关于小饭桌</a></li>
                        <li><a href="">创业课堂</a></li>
                        <li><a href="">寻求报道</a></li>
                        <li><a href="">创业礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">关于我们：</span>
                        <ul class="social-group">
                            <li class="wechat"><span class="text">xfz008</span>
                                <div class="wx-qrcode"></div>
                            </li>

                            <li class="weibo"><a href="" class="text">小饭桌创业课堂</a></li>
                        </ul>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">
                        地址：北京市朝阳区东三环北路38号院泰康金融大厦
                    </p>
                    <p class="contact">
                        融资服务： bp@xfz.cn 商务合作： bd@xfz.cn
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        ©2019 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574
    </div>
</footer>
</body>
</html>